/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Light.woff2") format("woff2"),
         url("/fonts/Satoshi-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
font-family: "Satoshi";
src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
        url("/fonts/Satoshi-Regular.woff") format("woff");
font-weight: 400;
}

@font-face {
font-family: "Satoshi";
src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
        url("/fonts/Satoshi-Medium.woff") format("woff");
font-weight: 500;
}


@font-face {
font-family: "Satoshi";
src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
        url("/fonts/Satoshi-Bold.woff") format("woff");
font-weight: 700;
}

@font-face {
font-family: "Satoshi";
src: url("/fonts/Satoshi-Black.woff2") format("woff2"),
        url("/fonts/Satoshi-Black.woff") format("woff");
font-weight: 800;
}

@font-face {
font-family: "IntegralCF";
src: url("/fonts/Integralcf-regular.otf") format("opentype");
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: "IntegralCF-Bold";
src: url("/fonts/Integralcf-bold.otf") format("opentype");
font-weight: 700;
font-style: normal;
}
